html { 
	height: 100% 
}

body { 
	height: 100%; margin: 0; padding: 0;
	text-align:center;
}

#map-canvas { 
	width:600px;
	height:840px; 
	margin-left:30px;
}

.invisible {
	display:none;
}

#details {
	margin-top:20px;
	float:left;
	margin-left:32px;
	font-size:18px;
	text-align:left;
}

.label {
	color:black;
}

.value {
	color:blue;
}	

#houses {
	margin-bottom:20px;
}

#bathroom,#bedrooms {
	width:100px;
	float:left;
}

#sqft,#yearbuilt {
	margin-top:20px;
}

#map-canvas {
	float:left;
}

#controls {
	float:left;
	margin-left:30px;
	background-color:#E7E7E7;
	padding:20px;
	text-align:left;
}
