html { 
	height: 100% 
}

body { 
	height: 100%; margin: 0; padding: 0;
	text-align:center;
}

#map-canvas { 
	width:50%;
	height:840px; 
	margin-left:30px;
}

.invisible {
	display:none;
}

#details {
	margin-top:20px;
	float:left;
	margin-left:32px;
	font-size:18px;
	text-align:left;
}

.label {
	color:black;
}

.value {
	color:blue;
}	

#houses {
	margin-bottom:20px;
}

#bathroom,#bedrooms {
	width:100px;
	float:left;
}

#sqft,#yearbuilt {
	margin-top:20px;
}

#map-canvas {
	float:left;
}

#controls {
	float:left;
	margin-left:30px;
	background-color:#E7E7E7;
	padding:20px;
	text-align:left;
}

#bullet {
	float:left;
	width:400px;
	height:82px;
	background-color:#CACDD0;
	margin-left:30px;
	margin-top:50px;
}

.actual {
	height:20px;
	margin-bottom:5px;
	background-color:blue;
	z-index:100;
	position:absolute;
	top:516px;
	color:grey;
}

.zestimate {
	height:60px;
	margin-bottom:5px;
	background-color:#CDE2FA;
	position:absolute;
	top:495px;
	color:grey;
	vertical-align:text-top;
}